<h1>Working!</h1>

<div class="listings-container">
    <% for listing in @listings %>
        <div class="listing-container">
            <%= listing.title %>
            <br>
            <%= listing.message %>
            <br>
            <% if current_user.id == listing.user_id %>
                <div class="card-buttons">
                    <div class="card-edit-button">
                        <%= button_to "Edit", edit_listing_path(listing.id), class: "card-button" %>
                        <%= form_with model: listing, local: true, method: "delete" do |form| %>
                            <%= submit_tag "Destroy", class: "card-button" %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

<span>Listing count: <%= @listings.count %></span>